*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body{
    font-family: "Itim", cursive;
    background-color: #ffffff;
}
header{
        max-width: 10000PX;
        background-color: #240d75;
        font-size: 20px;
        padding: 20px 0;
        position: static;
        text-align: center;
        color: #ffffff;
}
ins{
    text-decoration: underline;
    text-decoration-color: #cd9e02;
}
.conten {
    max-width: 10000px;
}

.main_container{
    margin-bottom: 50;
}

.main_info {
max-width: 10000PX;
width: 500;
background-color: #4b90b0;
color: #ffffff;
margin-left: 700px;
padding: 20px 20px ;
line-height: 50px;

}

.picture {
   float:left;
   margin-left: -70px;
   margin-top: 0px;
   position: static;
   left: 550px;
}
.picture_2 {
    float: left;
   margin-left: -160px;
   margin-top: 50px;
   
}
.subpicture{
margin-left: 1225;
margin-top: -350;

}

.content_act{
    margin-top: 40px;
    margin-left: 20px;
}

.content_info1 {
color: #724747;
font-style: italic;
text-decoration: underline;
text-decoration-color: #cd9e02;
margin-left: 550px;
margin-top: -300px;
max-width: 10000PX;
}

.content_article {
    color: #291d5f;
    width: 900px;
    height: 100px;
    margin-left:560px;
    margin-top: 20; 
}

.content_date {
    width: 400px;
    margin-left: 200px;
    margin-top: 30px;
text-align: center;
background-color: #291d5f;
color: #ba9a0c;
}

.content_act2 {
    margin-left: -0px;
    margin-top: 200px;}

.content_act3 {
    margin-left: 988px;
    margin-top: -354px;

}
.content2{
    margin-top: -160;
}


.content_info2{
    margin-left: 120px;
    margin-top: 10px;
    color: #291d5f;
    font-style: italic;
    text-decoration: underline;
text-decoration-color: #cd9e02;
}
.content_article2 {
    color: #291d5f;
    width: 446px;
    height: 100px;
    margin-left:100px;
    margin-top: 20; 
}
.content_info3{
    margin-left: 920;
    margin-top: -26;
    color: #291d5f;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
text-decoration-color: #cd9e02;
}
.content_article3 {
    width: 460;
    margin-left: 940;
    margin-top: -67;
}

.content_act4 {
    margin-left: -10;
}
.content_article4{
    text-decoration: none;
    margin-left: 580;
    width: 900;
    margin-top: 20;
    color: #291d5f;
    
}
.content_info4{
    margin-left: 560;
    margin-top: -250;
    width: 350;
    ; color: #291d5f;
    font-style: italic;
    text-decoration: underline;
text-decoration-color: #cd9e02;
background-color: #b2d1df;
}

.head{
margin-top: 150;
}

.content5 {
    margin-left: 300;
    margin-top:50;

}
.content_info5{
    margin-top: 30;
    margin-left: -250;
    text-align: center;
    color: #291d5f;
}
.content_act5{
    margin-left: 790;
    margin-top: -409;
}
 .headmall1{
    margin-top: 180;
    background-color: #9190ce;
    height: -100;
 }
  .headmall2{
    margin-top: 10;
    background-color: #9190ce;
 }
 .headmall3{
    margin-top: 150;
    background-color: #9190ce;
 }
 .headmall4{
    margin-top: 100;
    background-color: #9190ce;
 }
 .content_act8 {
    margin-left: 30;
 }
 
.content_info6{
    margin-left: 450;
    margin-top: -250;
    color: #291d5f;
    text-decoration-color: #cd9e02;
}
.content_article6{
    margin-left: 10;
    margin-top: 20;
}
.st_info{
 color: #291d5f;
 margin-left: 500 ;
 margin-top: -250;
 margin-bottom: 10;
}
.st_article{
    width: 780;
    margin-top: -240;
}
.st_actsub{
    margin-left: 800;
 margin-top: -50;
}
.st_info2 {
 color: #291d5f;
 margin-left: 500 ;
 margin-top: -250;
 margin-bottom: 10;
}
.st2{
    margin-top: 50;
    margin-bottom: 200;
}
.st3{
    margin-bottom: 150;
}
.st_act3{
    margin-top: -80;
    margin-left: 20;
}
.st_info3 {
 color: #291d5f;
 margin-left: 480 ;
 margin-top: -350;
}
.st_article3{
    width: 600;
    margin-top: 20;
}
.st_article2{
    width: 1000;
   margin-top: 20;
}
.art_1{
 margin-top: 20;
 margin-left: 50;
 color: #291d5f;
}
.art_2{
    margin-left: 550;
    margin-top: -420;
}
.art_info{
    margin-left: 650;
    margin-top: -460;
    color: #291d5f;
}
.art_3{
    margin-left: 480;
    margin-top: -400;
    margin-bottom: 450;
}